.SingleProject-box{
    
    border-radius: 10px;
    padding: 15px;
    background-color: #040404;
}
.SingleProject-box>h3{
    font-size: 26px;
    color: white;
    margin-bottom: 5px;
}
.SingleProject-box>img{
  width:630px;
  height:400px;
  border-radius: 5px;
}
.SingleProject-box>p{
    color:white;
    margin-top: 20px;
    font-size: 18px;
}
.button-box>div>button{
    background-color: yellow;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 17px;
    color: black;
    font-weight: bold;

}
.button-box{
    display: flex;
    /* justify-content: space-between; */
    gap:20px;
    align-items: center;
}
.main-tsbox{
    color: white;
    margin-top: 20px;
}
.main-tsbox>p{
    font-size: 25px;
    font-weight: 700;
    /* border: 1px solid red; */
}
.button-box>div>button:hover{
    background-color: rgb(0, 220, 0);;
    color: white;
}
.tstack{
    display: flex;
    gap: 10px;
    color: white;
}
#fet{
    font-size: 18px;
    font-weight:200;
}


@media(max-width:900px){
    .SingleProject-box>img{
        width: 100%;
        height: 400px;
    }
}
@media(max-width:500px){
    .SingleProject-box>img{
        width: 100%;
        height: 250px;
    }
    .tstack{
        display: none;
    }
}